@import '../global.scss';

header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 42px 24px;
  position: sticky;
  top: 0;
  // background-color: $Col-Almost-White;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    nav {
      display: flex;
      margin-left: 60px;

      .nav-element:not(.nav-element:last-child) {
        margin-right: 32px;
      }
    }
  }

  .user-entry {
    color: $Col-Medium-Gray;
    display: flex;
    align-items: center;

    .nav-element:last-child {
      @include buttonProperties;
      margin-left: 40px;
    }
  }

  #moblile-menu-opener {
    display: none;
  }
}

header {
  @media only screen and (max-width: 880px) {
    padding: 24px 16px;

    #moblile-menu-opener {
      display: block;
      cursor: pointer;
    }

    .left nav,
    .user-entry {
      display: none;
    }
  }
}
