@import '../global.scss';

header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 42px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-element {
    cursor: pointer;

    position: static;
    color: $Col-Medium-Gray;

    .top {
      display: flex;
      align-items: center;

      .nav-element-name {
        margin-right: 8px;
      }

      &:hover {
        color: $Col-Almost-Black;
        transition: $transition-time;
      }
    }

    ul {
      $ul-padding: 24px;
      padding: 24px;
      position: absolute;
      list-style: none;
      border-radius: 12px;
      margin-top: 24px;

      background-color: $Col-Almost-White;
      box-shadow: 0 4px 32px $Col-Medium-Gray;

      li {
        transition: $transition-time;

        &:not(&:last-child) {
          padding-bottom: 14px;
        }

        img {
          margin-right: 16px;
        }

        &:hover {
          color: $Col-Almost-Black;
        }
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    nav {
      display: flex;
      margin-left: 60px;

      .nav-element:not(.nav-element:last-child) {
        margin-right: 32px;
      }
    }
  }

  .user-entry {
    color: $Col-Medium-Gray;
    display: flex;
    align-items: center;

    .nav-element:last-child {
      @include buttonProperties;
      margin-left: 40px;
    }
  }

  #moblile-menu-opener {
    display: none;
  }
}

header {
  @media only screen and (max-width: 880px) {
    padding: 24px 16px;

    #moblile-menu-opener {
      display: block;
      cursor: pointer;
    }

    .left nav,
    .user-entry {
      display: none;
    }
  }
}
