@import '../global.scss';

.mobile-menu {
  //   display: none;
  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba($Col-Almost-Black, 0.5);

  .menu {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 240px;
    background-color: $Col-Almost-White;

    .menu-top {
      width: 100%;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        cursor: pointer;
      }
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0px 0px 24px;

      .nav-element {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
