@import './global.scss';

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;

  width: 100vw;
  min-height: 100vh;

  background-color: $Col-Almost-White;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
